name: Psi4 test and Coverage

on: [ push ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install MiniConda and Psi4
        run: |
          # from https://github.com/Qiskit/qiskit-aqua/blob/master/.github/actions/install-psi4/action.yml
          wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh --tries=3 -O miniconda.sh || echo "Miniconda download failed"
          if [ -f "miniconda.sh" ]; then
              bash miniconda.sh -b -p $HOME/miniconda
              rm -rf miniconda.sh
              source "$HOME/miniconda/etc/profile.d/conda.sh"
              conda activate
              conda install -y -c psi4 -c conda-forge python=3.6 psi4>=1.3 qcengine>=0.15
          fi

      - name: Install dependencies with Conda
        run: |
          source "$HOME/miniconda/etc/profile.d/conda.sh"
          conda activate

          conda install coverage pytest-cov pytest numpy networkx

          # Build and install package
          python setup.py develop --no-deps

      - name: Test with command line - coverage
        run: |
          source "$HOME/miniconda/etc/profile.d/conda.sh"
          conda activate

          # Run a Psi4 command line test if possible
          coverage run `which geometric-optimize` --engine psi4 examples/water2_psi4/water2.psi4in
          coverage xml

      - name: Codecov upload
        uses: codecov/codecov-action@v1
        with:
          flags: psi4-test
          files: coverage.xml
          name: codecov-cli
          fail_ci_if_error: true
          verbose: true